

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{.goodtype}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
	{{range .newgoods}}
    <li>
        <a href="/goodsDetail?Id={{.Id}}"><img src="http://192.168.144.10:8888/{{.Image}}"></a>
        <h4><a href="/goodsDetail?Id={{.Id}}">{{.Name}}</a></h4>
        <div class="prize">￥{{.Price}}</div>
    </li>
			{{end}}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goodsType?id={{.id}}" {{if compare .sort "" }}class="active"{{end}}>默认</a>
				<a href="/goodsType?sort=price&id={{.id}}"{{if compare .sort "price" }}class="active"{{end}}>价格</a>
				<a href="/goodsType?sort=sales&id={{.id}}"{{if compare .sort "sales" }}class="active"{{end}}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{{range .goods}}
				<li>
					<a href="/goodsDetail?Id={{.Id}}"><img src="http://192.168.144.10:8888/{{.Image}}"></a>
					<h4><a href="/goodsDetail?Id={{.Id}}">{{.Name}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{.Price}}</span>
						<span class="unit">{{.Price}}/{{.Unite}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			{{end}}

			</ul>

			<div class="pagenation">
				<a href="/goodsType?id={{.id}}&sort={{.sort}}&pageIndex={{.prePage}}"><上一页</a>
				{{range $key,$value:=.pages}}
				<a href="/goodsType?id={{$.id}}&sort={{$.sort}}&pageindex={{$value}}" class="active">{{$value}}</a>
				{{end}}
				<a href="/goodsType?id={{.id}}&sort={{.sort}}&pageIndex={{.nextPage}}">下一页></a>
			</div>
		</div>
	</div>

